<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Selecciona el archivo</h3>
    </div>
    <div class="card-body">
      <form action="new-sample-frfile" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="samples" value="">
        </div>
        <div class="form-group">
          <input type="submit" />
        </div>
      </form>
    </div>
  </div>
</div>