<div align="center" style="color: white">
  <h1 class="display-6">SOFTWARE PARA EL ANÁLISIS DE LAS PROPIEDADES DEL SUELO A PARTIR DE ONDAS DEL ESPECTRO INFRARROJO CERCANO (NIRS)</h1>
  <p class="lead">Objetivo General</p>
  <hr class="my-4">
  <p>Construir un software que permita hacer una estimación de las propiedades fisicoquímicas del suelo, materia orgánica, textura, pH, bases intercambiables (calcio, magnesio, potasio y sodio) a partir de espectros de infrarrojo cercano (NIRS) de suelos.</p>
</div>