<div align="center" style="color: white">
  <h1 class="display-4">AMAS</h1>
  <p class="lead">Software para la estimación de las propiedades fisicoquímicas del suelo</p>
  <hr class="my-4">
  <p>Este software es una herramienta que ayuda a la estimación de las propiedaes fisicoquimicas del suelos, implementando algoritmos de aprendizaje de maquina sobre ondas de espectro infrarojo cercano, permitiendo la administración y visualización de los datos resultantes. Fue elaborado como tesis de grado de la pontificia universidad javeriana en colaboración con agrosavia.</p>
  <div class="container">
  <div class="row justify-content-md-center my-4">
    <div class="col col-lg-2">
      <a href="https://www.javeriana.edu.co/home"><img src="img/logo_javeriana.png" alt="Universidad Javeriana" width="200px" height="200px"></a>
    </div>
    <div class="col col-lg-2">
    </div>
    <div class="col col-lg-2">
      <a href="http://www.agrosavia.co/"><img src="img/logo_agrosavia.png" alt="Agrosavia" width="200px" height="200px"></a>
    </div>
  </div>
</div>
</div>

