<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Crear modelo
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre del modelo" value="{{name}}">
          </div>
          <div class="form-group">
            <select name="rol" class="form-control">
              <option value="administrador">preprosesamiento 1</option>
              <option value="investigador">preprosesamiento 2</option>
            </select>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Porcentaje de entrenamiento" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Porcentaje de prueba" value="{{confirm_password}}">
          </div>
          <div class="form-group">
          <input type="file">
          </div>
          <button class="btn btn-primary btn-block">
            Entrenar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
